#root{
  width: 100vw;
  height: 100vh;

}


.read-the-docs {
  color: #888;
}
/* Animation for the main icon */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main-icon {
  
  animation: spin 5s linear infinite;
}